$color-purple: #6F52ED;
$color-yellow: #FF9B2A;
$color-pink: #FF6E6E;
$color-green: #006F2C;
$color-skyblue: #29C8D8;
$color-white: #ffffff;
$color-bg-gray: #F5F5F5;
$color-border1: #E0E0E0;
$color-border2: #CACACA;
$color-border3: #BABABA;
$color-border4: #AFAFAF;
$color-border5: #ABABAB;
$color-border6: #d5d5d5;
$color-text1: #000000;
$color-text2: #252525;
$color-text3: #444444;
$color-text4: #666666;
$color-text5: #979797;
$color-text6: #B4B4B4;
$color-text7: #CDCDCD;
$color-text8: #7F6498;