$color-purple-10: #e8e4f9;
$color-purple-20: #d5ccf9;
$color-purple-30: #b2a2f3;
$color-purple-40: #9b87ef;
$color-purple-50: #8871ed;
$color-purple-60: #6f52ed;
$color-purple-70: #4f37bd;
$color-purple-80: #331e94;
$color-purple-90: #281679;
$color-purple-100: #190c52;
$color-yellow: #ff9b2a;
$color-pink: #ff6e6e;
$color-green: #006f2c;
$color-skyblue: #29c8d8;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-10: #f5f5f5;
$color-gray-20: #e0e0e0;
$color-gray-30: #d5d5d5;
$color-gray-35: #cdcdcd;
$color-gray-40: #cacaca;
$color-gray-50: #bababa;
$color-gray-60: #afafaf;
$color-gray-70: #ababab;
$color-gray-80: #979797;
$color-gray-50: #666666;
$color-gray-90: #575757;
$color-gray-95: #444444;
$color-gray-100: #252525;

$color-purple: #6f52ed;
$color-purple-light: #9c87f5;
$color-purple-thick: #4e1f89;
$color-bg-gray: #f5f5f5;
$color-border1: #e0e0e0;
$color-border2: #cacaca;
$color-border3: #bababa;
$color-border4: #afafaf;
$color-border5: #ababab;
$color-border6: #d5d5d5;
$color-text1: #000000;
$color-text2: #252525;
$color-text3: #444444;
$color-text4: #666666;
$color-text5: #979797;
$color-text6: #b4b4b4;
$color-text7: #cdcdcd;
$color-text8: #7f6498;
