* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

a {
  text-align: none;
  text-decoration: none;
}

html {
  font-size: 0.625em;
}

img {
  border: none;
}

.blind {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.bg-private {
  background-color: $color-yellow;
}

.bg-todo {
  background-color: $color-pink;
}

.bg-meeting {
  background-color: $color-skyblue;
}

.bg-complete {
  background-color: $color-green;
}

.bg-all {
  background-color: $color-purple;
}

.right-bar-private::after {
  background-color: $color-yellow;
}

.right-bar-todo::after {
  background-color: $color-pink;
}

.right-bar-meeting::after {
  background-color: $color-skyblue;
}

.right-bar-complete::after {
  background-color: $color-green;
}

.right-bar-all::after {
  background-color: $color-purple;
}
