* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-align: none;
}

html {
    font-size: 0.625em;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

img {
    border: none;
}

.blind {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.wrapper > div {
    display: flex;
}