.edit__account__form {
  @include commonWrapper;
  position: relative;
  margin-top: 10px;
  padding: 76px 30px 30px;

  &::before {
    content: 'doWorker';
    position: absolute;
    left: 0;
    top: -1px;
    width: calc(100% - 58px);
    padding: 15px 30px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(270deg, $color-purple-80 35.97%, $color-purple-60 68.07%);
    color: $color-white;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }

  &__profile {
    float: right;

    input {
      display: none;
    }

    label {
      position: relative;
      display: block;
      width: 200px;
      height: 200px;
      background: url(../images/default_profile.svg) no-repeat;
      background-size: contain;
      background-position: center;
      text-indent: -9999px;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $color-purple-50 url(../images/camera.svg) no-repeat;
        background-position: center;
      }
    }

    .email {
      margin-top: 15px;
      font-size: 1.6rem;

      span {
        display: block;
        color: $color-gray-80;

        &:first-child {
          margin-bottom: 5px;
          color: $color-gray-100;
          font-size: 1.4rem;
          text-transform: capitalize;
        }
      }
    }
  }

  &__greeting {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 2rem;

    span {
      display: block;
    }
  }

  &__info {
    & .input__form {
      width: calc(100% - 250px);
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 1.6rem;
      text-transform: capitalize;
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: $color-gray-10;
    }
  }
}
