.schedule__detail__modal {
  width: 400px;

  .modal__body {
    padding-bottom: 10px;
  }

  &.todo .modal__header {
    background: linear-gradient(to right, $color-pink, $color-purple-30);
  }

  &.private .modal__header {
    background: linear-gradient(to right, $color-yellow, $color-purple-30);
  }

  &.important .modal__header {
    background: linear-gradient(to right, $color-skyblue, $color-purple-30);
  }

  &.meeting .modal__header {
    background: linear-gradient(to right, $color-green, $color-purple-30);
  }

  &__contents {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-gray-10;

    textarea {
      outline: none;
      width: 100%;
      min-height: 100px;
      border: 0;
      resize: none;
      font-size: 1.6rem;
      line-height: 1.3;

      &.empty {
        color: $color-gray-80;
        font-size: 1.4rem;
      }
    }

    &__bottom {
      @include flexBox(row, nowrap, space-between, center);

      .member {
        font-size: 1.2rem;
        color: $color-purple-100;
      }

      .date {
        font-size: 1.2rem;
        color: $color-gray-80;
      }
    }
  }

  &__edit_group {
    text-align: right;
    padding: 5px 0 0;

    .delete__schedule {
      @include buttonNone;
      width: 30px;
      height: 30px;
      background: url(../images/delete_trash.svg) no-repeat;
      background-position: center;
    }
  }
}
