.search-form {
  position: relative;
  min-width: 600px;

  input {
    width: 100%;
    height: 45px;
    padding: 23px 80px 23px 25px;
    border-radius: 10px;
    border: none;
    background: $color-gray-10;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  input::placeholder {
    color: $color-gray-50;
  }

  input::-webkit-input-placeholder {
    color: $color-gray-50;
  }

  input:-ms-input-placeholder {
    color: $color-gray-50;
  }

  button {
    position: absolute;
    right: 5px;
    top: 0;
    width: 45px;
    height: 100%;
    border: none;
    background: transparent;
  }
}
