.calendar__header {
  div {
    font-weight: 500;
    color: $color-gray-100;
  }

  button {
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    background: $color-white;
  }
}

.calendar__header.small {
  display: grid;
  grid-template-columns: 1fr 36px 36px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  margin-bottom: 25px;

  .calendar__header__date {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.8rem;
    font-weight: bold;
    color: $color-gray-100;
    line-height: 36px;
  }

  button {
    width: 36px;
    height: 36px;
    border: 1px solid $color-border2;
    border-radius: 6px;
    background: url('../images/arrow_left.svg') no-repeat center;
  }

  .calendar__header__prev-btn {
    grid-row: 1;
    grid-column: 2;
  }

  .calendar__header__next-btn {
    grid-row: 1;
    grid-column: 3;
    text-indent: 9999px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

.calendar__header.large {
  @include flexBox(row, nowrap, center, center);
  border-bottom: 1px solid $color-gray-40;
  padding: 15px 0;

  .calendar__header__date {
    margin: 0 15px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
  }

  button {
    border: none;
    background: url('../images/arrow_bottom.svg') no-repeat;
    background-size: 14px;
    background-position: center;
    transform: rotate(90deg);
  }

  .calendar__header__next-btn {
    transform: rotate(270deg);
    text-indent: 9999px;
  }
}
