.calendar {
    .calendar-header-group {
        div {
            font-weight: 500;
            color: $color-text2;
        }

        button {
            width: 40px;
            height: 40px;
            text-indent: -9999px;
            background: $color-white;
        }
    }

    .days-group {
        display: flex;
        align-items: center;
        justify-content: space-around;

        div {
            font-weight: 500;
        }
    }

    .dates-group {
        display: grid;
        grid-template-columns: repeat(7,1fr);

        a {
            display: block;
            text-decoration: none;
            color: $color-text2;
            text-align: center;
            font-weight: 500;
        }

        .other {
            color: $color-text7;
        }
    }
}

.calendar.small {
    .calendar-header-group {
        display: grid;
        grid-template-columns: 1fr 40px 40px;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        margin-bottom: 25px;

        div {
            grid-column: 1;
            grid-row: 1;
            font-size: 2.4rem;
            line-height: 40px;
        }

        button {
            border: 1px solid $color-border2;
            border-radius: 6px;
            background: url(../../images/arrow_left.svg) no-repeat center;
        }

        .prev-btn {
            grid-row: 1;
            grid-column: 2;
        }

        .next-btn {
            grid-row: 1;
            grid-column: 3;
            text-indent: 9999px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .days-dates-group {
        padding: 20px 15px;
        border-radius: 10px;
        background-color: $color-bg-gray;

        .days-group {
            div {
                padding: 10px 0 30px;
                color: $color-text8;
                font-size: 1.2rem;
                line-height: 1.423;
            }
        }

        .dates-group {
            a {
                height: 40px;
                margin-bottom: 5px;
                font-size: 1.4rem;
                line-height: 40px;
            }

            .today {
                border-radius: 50%;
                background-color: $color-pink;
                color: $color-white;
            }

            a:hover, .selected {
                color: $color-white;
                border-radius: 50%;
                background-color: $color-pink;
                opacity: 0.5;
                box-shadow: 0 4px 10px 0 rgba(206,206,206,.8);
            }
        }
    }
}

.calendar.grid {
    @include commonWrapper;
    min-width: 515px;

    .calendar-header-group {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color-border4;
        padding: 15px 0;

        div {
            margin: 0 10px;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.5;
        }

        button {
            border: none;
            background: url(../../images/arrow_bottom.svg) no-repeat;
            background-position: center;
            transform: rotate(90deg);
        }

        .next-btn {
            transform: rotate(270deg);
            text-indent: 9999px;
        }
    }

    .days-group {
        border-bottom: 1px solid $color-border4;
        padding: 15px 0;

        div {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }

    .dates-group {
        a {
            height: 180px;
            padding: 15px;
            border-bottom: 1px solid $color-border3;
            font-size: 1.5rem;
            line-height: 1.5;
            text-align: left;
        }

        a:last-child, a:nth-last-child(2), a:nth-last-child(3), a:nth-last-child(4), a:nth-last-child(5), a:nth-last-child(6), a:nth-last-child(7) {
            border-bottom: none;
        }
    }
}