.calendar {
    .days-group {
        display: flex;
        align-items: center;
        justify-content: space-around;

        div {
            font-weight: 500;
            text-align: center;

            span {
                display: block; 
            }
        }
    }

    .dates-group {
        display: grid;
        grid-template-columns: repeat(7,1fr);

        a {
            display: block;
            text-decoration: none;
            color: $color-text2;
            text-align: center;
            font-weight: 500;
        }

        .other {
            color: $color-text7;
        }
    }
}

.calendar.small {
    .days-dates-group {
        padding: 20px 15px;
        border-radius: 10px;
        background-color: $color-bg-gray;

        .days-group {
            div {
                padding: 10px 0 30px;
                color: $color-text8;
                font-size: 1.2rem;
                line-height: 1.423;
            }
        }

        .dates-group {
            a {
                height: 40px;
                margin-bottom: 5px;
                font-size: 1.4rem;
                line-height: 40px;
            }

            .today {
                border-radius: 50%;
                background-color: $color-pink;
                color: $color-white;
            }

            a:hover, .selected {
                color: $color-white;
                border-radius: 50%;
                background-color: $color-pink;
                opacity: 0.5;
                box-shadow: 0 4px 10px 0 rgba(206,206,206,.8);
            }
        }
    }
}

.calendar.grid {
    @include commonWrapper;
    min-width: 515px;

    .days-group {
        border-bottom: 1px solid $color-border4;
        padding: 15px 0;

        &.week {
            padding: 15px;
        }

        &.week div:first-child {
            margin-left: 50px;
        }

        div {
            width: 100%;
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }

    .dates-group {
        a {
            position: relative;
            height: 180px;
            padding: 15px;
            border-bottom: 1px solid $color-border3;
            font-size: 1.5rem;
            line-height: 1.5;
            text-align: left;
        }

        a:last-child, a:nth-last-child(2), a:nth-last-child(3), a:nth-last-child(4), a:nth-last-child(5), a:nth-last-child(6), a:nth-last-child(7) {
            border-bottom: none;
        }

        .today {
            color: $color-white;
        }

        .today::before {
            content: "";
            position: absolute;
            left: 7px;
            top: 10px;
            z-index: -1;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $color-pink;   
        }
    }

    .time-table-group {
        display: flex;
        padding: 30px 15px;

        .time-group {
            flex-basis: 50px;
            flex-shrink: 0;
            padding-right: 10px;

            div {
                height: 60px;
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.5;
                color: $color-text7;
            }

            div:last-child {
                height: auto;
            }
        }

        .time-schedule-group {
            display: flex;
            flex-basis: calc(100% - 50px);
            flex-shrink: 0;

            .time-schedule-wrapper {
                position: relative;
                width: 100%;
                height: calc(100% - 14px);
                margin-top: 7px;

                .time-bg-group {
                    width: 100%;
                    height: 100%;

                    div {
                        width: 100%;
                        height: calc(100% / 24);
                        border-top: 1px solid $color-border6;

                        &:last-child {
                            border-bottom: 1px solid $color-border6;
                        }
                    }
                }

                .schedule-group {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}