header {
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    border-radius: 0 0 40px 0;
    background-color: $color-purple;

    .logo {
        margin: 40px 0 100px;
        text-align: center;

        a {
            display: inline-block;
            width: 80px;

            img {
                width: 100%;
            }
        }
    }

    nav {
        li {
            width: 100%;
            height: 94px;

            a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
        
                span {
                    position: relative;
                    z-index: 1;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-indent: -9999px;
                    background: url(../../images/menu_schedule_off.svg) no-repeat;
                    background-position: center;
                }
            }

            .activated::after {
                content: "";
                position: absolute;
                top: -10px;
                right: 0;
                display: block;
                width: 100%;
                height: 114px;
                background: url(../../images/menu_bg_on.svg) no-repeat;
                background-position: right center;
            }

            .schedule.activated span {
                background-image: url(../../images/menu_schedule_on.svg);
            }
        }
    }
}