.sub-menu-title-group {
    margin-bottom: 55px;

    h2 {
        font-size: 2.8rem;
        line-height: 1.5;
        font-weight: bold;
    }

    span.title {
        color: $color-text2;
    }

    button.title {
        width: 130px;
        height: 100%;
        margin-right: 25px;
        text-decoration: none;
    }

    .title {  
        border: none;
        background: #fff;
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 1.5;
        color: $color-text6;
        text-transform: capitalize;
    }

    .title.on {
        color: $color-yellow;
        border-bottom: 2px solid $color-yellow;
    }
}