.schedule-view-wrapper {
    .status-group {
        margin-top: 40px;
    
        .sub-title {
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
        }
    
        label {
            text-transform: capitalize;
        }
    }

    .search-cal-group {
        flex-shrink: 0;
        flex-basis: calc(100% - 450px);
        height: 100vh;
        padding: 25px 35px;
        min-width: 574px;
        overflow-y: scroll;

        .top-group {
            display: flex;
            margin-bottom: 50px;

            .alarm-btn {
                flex-shrink: 0;
                width: 45px;
                height: 45px;
                margin-left: 15px;
                border: none;
                border-radius: 8px;
                background: $color-purple url(../../../images/ico_alarm.svg) no-repeat;
                background-position: center;
                text-indent: -9999px;
            }
        }

        .select-add-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            .select-box-group {
                min-width: 110px;
                height: 40px;
            
                select {
                    width: 100%;
                    height: 100%;
                    padding: 10px 15px;
                    border-radius: 10px;
                    border: 1px solid $color-border5;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1.5;
                    color: $color-text5;
                    background: url(../../../images/arrow_bottom.svg) no-repeat;
                    background-position: right 10px center;
                    background-size: 14px;
                }  
            }

            .add-btn {
                height: 40px;
                padding: 0 20px 0 35px;
                border-radius: 20px;
                border: 1px solid $color-border5;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.5;
                color: $color-text5;
                background: $color-white url(../../../images/ico_add.svg) no-repeat;
                background-position: left 15px center;
                background-size: 12px;
            }
        }
    }

    .menu-schedule-list-group {

        .schedule-group {
            height: calc(100vh - 265px);
            overflow-y: auto;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
            }

            .empty-msg {
                font-size: 1.6rem;
                line-height: 1.5;
                color: $color-text6;
            }

            .schedule-item {
                @include commonWrapperbdrs15;
                overflow: hidden;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                .schedule-date {
                    display: flex;
                    align-items: center;
                    height: 45px;
                    padding-top: 5px;
                    padding-left: 15px;
                    border-bottom: 1px solid $color-border5;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.5;
                }

                .info-group {
                    word-break: break-all;
                    position: relative;
                    padding: 15px 20px 15px 15px;
                    border-bottom: 1px solid $color-border5;
                    color: $color-text2;
                    line-height: 1.5;

                    &:last-child {
                        border-bottom: none;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: block;
                        width: 15px;
                        height: 100%;
                    }

                    .title {
                        margin-bottom: 5px;
                        font-weight: bold;
                        font-size: 1.4rem;
                        line-height: 1.5;
                    }

                    .content {
                        font-size: 1.2rem;
                        line-height: 1.5;
                        font-weight: 500;
                    }

                    .participant {
                        margin-top: 20px;
                        font-size: 1.2rem;
                        line-height: 1.5;
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}