.login-wrapper {
    width: 100vw;
    height: 100vh;
    background: $color-purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        position: absolute;
        left: 0px;
        top: 20px;
        width: 80px;

        img {
            width: 100%;
        }
    }

    .guide-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

        .auth-guide {
            display: block;
            width: 340px;
            margin-top: 30px;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.5;
            font-weight: bold;
            color: $color-white;

            &.pink {
                color: $color-pink;
            }
        }
    }

    .input-form {
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 50px;
        }

        input {
            width: 340px;
            height: 45px;
            padding: 15px;
            border: none;
            border-radius: 8px;
            background: $color-white;
            font-size: 1.4rem;
            line-height: 1.5;
        }

        input::placeholder {
            color: $color-text5;
        }
    
        input::-webkit-input-placeholder {
            color: $color-text5;
        }
    
        input:-ms-input-placeholder {
            color: $color-text5;
        }
    }

    button {
        width: 340px;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 8px;
        color: $color-white;
        font-size: 1.6rem;
    }

    .sign-up-btn-wrapper {
        display: flex;
        justify-content: end;
        margin-bottom: 30px;
    }

    .sign-up-btn {
        cursor: pointer;
        color: $color-white;
        font-size: 1.3rem;
    }

    .login-btn {    
        border: none;
        background: $color-purple-thick;
        
    }

    .google-login-btn {
        border: 2px solid $color-white;
        background: transparent;
    }

    .copyright {
        position: absolute;
        bottom: 0;
        color: $color-purple-light;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 300;
    }
}