.mypage {
  padding-top: 50px;
  &__info {
    &__group {
      @include flexBox(row, nowrap, normal, center);
      gap: 15px;
      margin-bottom: 20px;
    }

    &__profile {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d3d3d3;
    }

    &__detail {
      @include flexBox(column);
      gap: 5px;

      .name {
        font-size: 2rem;
        font-weight: bold;
      }

      .career {
        font-size: 1.5rem;
      }
    }
  }

  &__menu {
    li {
      border-top: 1px solid $color-gray-10;

      button {
        @include buttonNone;
        width: 100%;
        padding: 25px 5px;
        color: $color-gray-100;
        font-size: 1.6rem;
        text-align: left;
        text-transform: capitalize;
      }
    }
  }
}
